<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KanjiPoster</title>
</head>
<body>
<table>
    <tr>
        <% for (var i = 0; i < kanjiData.length; i++) { %>
            <td><%= kanjiData[i].kanji %></td>
        <% } %>
    </tr>
</table>
</body>
</html>
